@font-face {
    font-family: Heebo;
    font-weight: 300;
    src: url(fonts/Heebo-VariableFont_wght.ttf);
}

html {
    font-family: 'Heebo', sans-serif;
    color: #777777;
}

body {
    margin: 0;
}

.k-dropdown-wrap .k-icon.k-i-arrow-60-down {
    height: 100%;
}

#mdaca-header {
    margin-bottom: 16px;
}

#header-top {
    white-space: nowrap;
    height: 60px;
    position:relative;
}

#header-bottom {
    height: 40px;
    background-color: #777777;
    text-align: center;
    color: #bbb;
}

#header-nav {
    height: 60px;
    background-color: black;
    color: white;
}

.header-left {
    display: inline-block;
    width: 40%;
    padding-right: 60px;
    box-sizing: border-box;
}

.header-right {
    color: black;
    display: inline-block;
    width: 60%;
    height: 100%;
    background-color: #74aa50;
    position: absolute;
    box-sizing: border-box;
}

#header-bottom > div {
    display: inline-block;
    margin-right: 32px;
}

.header-right::before {
    content: ' ';
    border-bottom: 60px solid #74aa50;
    border-left: 60px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: -60px;
    top: 0;
}

.header-content {
    display: inline-block;
    text-align: center;
    height: 100%;
}

#add-agent-btn {
    height: 100%;
    cursor: pointer;
    vertical-align: top;
    line-height: 40px;
}

.k-icon.k-icon-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.k-icon.k-icon-btn::before {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #777;
    padding: 3px;
}

#search-agents-txt {
    line-height: 28px;
    padding-top: 4px;
    color: #eeeeee;
    width: 250px;
    background-color: transparent;
    border-bottom: 1px solid #bbb;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

#search-agents-txt::placeholder {
    color: #eeeeee;
}

#search-agents-txt:focus {
    outline-width: 0;
}

.header-content:not(:last-child) {
    position: relative;
    margin-right: 32px;
}

.mdaca-logo {
    float: right;
    height: 100%;
}

.header-top-label {
    font-size: 10pt;
    margin-top: 4px;
}

.header-text {
    font-size: 16pt;
}

.page-content {
    padding-bottom: 16px;
}

#header-nav > ul > li {
    position: relative;
    display: inline-block;  
    margin-right: 55px;
    height: 100%;
    text-align: center;
}

#header-nav > ul > li.active,
#header-nav > ul > li.active:hover
{
    background-color: #74aa50;
}

#header-nav > ul > li:hover {
    background-color: #777777;
}

#header-nav > ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    padding: 0;
}

#header-nav > ul > li > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 100%;
    line-height: 60px;
}

#header-nav > ul > li::before {
    content: '';
    position: absolute;
    display: block; 
    left: -60px;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 60px solid black;
}

#header-nav > ul > li::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;  
    right: -60px;
    width: 0;
    height: 0;
    border-top: 60px solid black;
    border-right: 60px solid transparent;
}

#header-nav > ul > li:hover::after {  
    border-top: 60px solid #777;
    border-right: 60px solid transparent;
}

#header-nav > ul > li:hover::before {  
    border-top: 60px solid transparent;
    border-right: 60px solid #777;
}

#header-nav > ul > li.active::after {  
    border-top: 60px solid #74aa50;
    border-right: 60px solid transparent;
}

#header-nav > ul > li.active::before {  
    border-top: 60px solid transparent;
    border-right: 60px solid #74aa50;
}

.page-content {
    margin: 0 4%;
}

.agent-header-top {
    font-size: 32pt;
    margin-bottom: 8px;
}

.agent-header-top > span:not(.k-icon),
.agent-header-bottom > span:not(.k-icon) {
    margin-left: 16px;
}

.agent-header-top .k-icon {
    font-size: 0.75em;
    margin-bottom: 0.25em;
}

.green-text,
h3 {
    color: #74aa50;
}

.icon-clickable {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container > * {
    flex-grow: 1;
    margin: 0 2%;
}

.flex-container > *:first-child {
    margin-left: 0;
}

.flex-container > *:last-child {
    margin-right: 0;
}

#agent-header-container {
    margin-bottom: 24px;
}

.agent-header-bottom {
    margin-left: 42px;
    font-size: 14pt;
}

.agent-header-bottom .k-icon {
    margin-right: 4px;
    font-size: 0.75em;
}

h3 {
    font-weight: normal;
    font-size: 24pt;
    margin-bottom: 0;
    margin-top: 0;
}

.k-edit-form-container {
    width: 600px;
}

.k-edit-form-container .k-edit-field > input,
.k-edit-form-container .k-edit-field > .k-widget {
    width: 100%;
}

.radio-editor {
    line-height: 50px;
}

.align-right {
    text-align: right;
}

.k-grid {
    box-shadow: 4px 4px 2px #eee;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 32%;
    margin-right: 1%;
    padding: 8px;
    box-sizing: border-box;
}

.col-3 {
    flex-basis: 100%;
    padding: 8px;
}

input[type="radio"] {
    margin-right: 4px;
}